@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #969999;
  border-radius: 4px;
}

.active {
  background-color: #00b7ff54;
  border-color: #00ccff48;
}
